- name: Start rancher container
  docker_container:
    name: rancher
    image: rancher/rancher
    #state: present
    recreate: yes
    privileged: yes
    #restart: yes
    detach: yes
    # publish_all_ports: yes -- not supported in never docker versions
    ports:
      - "80:80"
      - "443:443"
