- name: Start rancher container
  docker_container:
    name: rancher
    image: rancher/rancher
    #state: present
    #recreate: yes
    privileged: yes
    #restart: yes
    detach: yes
    exposed_ports:
      - 80:80
      - 443:443