[privilege_escalation]
become                  = true # (this I need otherwise command  "pvs" will not run)
become_method           = sudo
become_user             = root
#become_ask_pass         = false # (this also I need, do not want any manuel providing)
default_become          = true