---
# This Playbook runs all the common plays in the deployment

- name: Install local basic packages
  become: true
  apt:
    name: "{{item}}"
    state: latest
    update_cache: yes
  loop:
    - nano
    - mc
    - curl
    - htop

- name: install common pip modules
  pip:
    name: "{{item}}"
    state: latest
  loop:
    - glances


- name: install workstation pip modules
  pip:
    name: "{{item}}"
    state: latest
  loop:
    - ansible-generator
  when: "'local' in group_names"

- name: Add a user.name to ~/.gitconfig
  community.general.git_config:
    name: user.name
    scope: global
    value: Sergey Dzyuban

- name: Add a user.email to ~/.gitconfig
  community.general.git_config:
    name: user.email
    scope: global
    value: dzyuban@gmail.com