---
# This Playbook runs all the common plays in the deployment

- name: Install local basic packages
  apt:
    name: "{{item}}"
    state: present
    update_cache: yes
  loop:
    - nano
    - mc
    - curl
    - htop